/* --- Flexbox & Alignements --- */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

/* --- Marges Standards --- */
.mt-10 {
  margin-top: 10px;
}
.mt-24 {
  margin-top: 24px;
}
.mt-40 {
  margin-top: 40px;
}

/* --- Conteneurs de pages --- */
.page-centered {
  padding-top: 12dvh;
  text-align: center;
  color: var(--color-text-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.parent-screen-centered {
  padding: 20px;
  text-align: center;
}
