<footer class="main-footer">
  <img
    src="/assets/img/icons/home.png"
    class="footer-home icon-footer"
    data-page="home"
    alt="Accueil"
  />
  <img
    src="/assets/img/icons/podium.png"
    class="footer-podium icon-footer"
    data-page="podium"
    alt="Classement"
  />
  <img
    src="/assets/img/icons/music.png"
    class="footer-music icon-footer"
    data-page="music"
    alt="Musique"
  />
  <img
    src="/assets/img/icons/menu.png"
    class="footer-menu icon-footer"
    data-page="menu"
    alt="Menu"
  />
</footer>
